/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/

body {
    color: #121D49;
    background: whitesmoke;
}


.navbar .navbar-nav .nav-link .nav-homepage {
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    /*color: #ffffff;*/
    color: #f39c12;
}

.login-button {
    background: #f39c12;
    color: #ffffff;
    width: 100px;
    font-weight: 600;
    margin: 0 30px;
}

.login-button-dashboard {
    background: rgba(52, 73, 94, 1.0);
    color: #ffffff;
    width: 100px;
    font-weight: 600;
    margin: 0 10px;
}

.logout-button {
    background-color: #f39c12;
    color: white;
    width: 100px;
    font-weight: 600;
    margin: 0 30px;
}

.edit-button {
    background: #f39c12;
    color: #ffffff;
    width: 100px;
    font-weight: 600;
    border-radius: 20px;
}

.delete-button {
    background: #c0392b;
    color: #ffffff;
    width: 100px;
    font-weight: 600;
    border-radius: 20px;
    margin-left: 20px;
}

.add-taskboard-button {
    background: #f39c12;
    color: #ffffff;
    /*width: 100px;*/
    font-weight: 600;
    margin-right: 20px;
}

.back-to-dashboard {
    background: #f39c12;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 600;
    margin-right: 20px;
    text-decoration: none;
}

.back-to-dashboard:hover {
    color: #ecf0f1;
    text-decoration: none;
}

.hero-image-style:before {
    content: '';
    position: absolute;
    bottom: -70%;
    left: 1px;
    width: 133%;
    height: 250%;
    border-radius: 50% 0 0 50%/100% 0 0 100%;
    background-image: linear-gradient(to bottom, rgba(27, 98, 251, 0.7), rgba(27, 98, 251, 0.7)),
    url('../img/hero02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999;
}

.car-details-image-style {
    /*width: 133%;*/
    /*height: 250%;*/
    /*border-radius: 50% 0 0 50%/100% 0 0 100%;*/
    background-image: linear-gradient(to bottom, rgba(27, 98, 251, 0.7), rgba(27, 98, 251, 0.7)),
    url('../img/hero02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*z-index: -999;*/
}

.edited_body {
    background-color: rgba(243, 156, 18, 1);
}

.taskboard {
    background-color: white;
    padding: 30px;
    color: black;
    border-radius: 50px;
    text-align: center;
}

.taskboard-alt {
    background-color: #34495e;
    padding: 30px;
    color: white;
    /*border-radius: 100px;*/
    text-align: center;
}

.taskboard-text {
    color: rgba(236, 240, 241, 1.0);
    font-weight: 500;
}

.taskboard-text-alt {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.header-text {
    color: #f39c12;
    font-weight: 500;
}

.user_list {
    text-decoration: none;
    color: black;
}

.blue-background {
    background-color: #f39c12;
    color: white;
    padding: 80px 50px;
    border-radius: 80px 80px 0px 0px;
}

.form-section-style {
    margin: 20px 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: white;
    transition: all 0.3s;
}

#content {
    width: 50%;
    padding: 0 20px;
    height: 97vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: auto;
}

#content.active {
    width: 100%;
}

.task-info-title {
    font-size: 12px;
    font-weight: 500;
    color: grey;
}

.task-info {
    font-size: 15px;
    font-weight: 300;
    color: grey;
}