<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Task Manager</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>

</head>

<body class="edited_body">

<div class="wrapper">

    <!--    Left Side-->
    <div class="mx-auto" id="sidebar" style="padding-left: 8%; padding-top: 7%">
        <div class="container">
            <div>
                <h1>Hi {{ user_email }}</h1>
                <p>{{ welcome }}</p>
            </div>

            <div>
                <form action="/" method="post">
                    <div class="row" style="width: 80%">
                        <div class="col form-group">
                            <input class="form-control" placeholder="Search" type="text">
                        </div>
                    </div>

                </form>
            </div>

            <div style="margin-top: 70px;">
                <div class="row" style="width: 80%">
                    <div class="col">
                        <h4>Recent Projects ()</h4>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger float-right rounded-circle font-weight-bold"
                                data-target="#createTaskBoard" data-toggle="modal"
                                style=""> +
                        </button>
                    </div>
                </div>
            </div>

            <div class="row " style="width: 80%">
                {% for i in taskboard_user_keys %}
                <div class="col-3 mt-4">
                    <a href="/taskboard?id={{ TaskBoard.get_by_id(i.id(), parent=i.parent()).key.urlsafe() }}"
                       style="text-decoration: none;">
                        <div class="taskboard">{{ TaskBoard.get_by_id(i.id(), parent=i.parent()).name[0] }}</div>
                        <p class="text-center mt-3 taskboard-text">{{ TaskBoard.get_by_id(i.id(),
                            parent=i.parent()).name }}</p>
                    </a>
                </div>


                {% endfor %}


            </div>

            <div class="mt-5">
                <a class="btn login-button-dashboard" href="{{ url }}">{{ login_status }}</a>
            </div>

        </div>
    </div>


</div>

<!--    Right Side-->
<div class="shadow p-5" id="content">
    <div>
        <h2>All TaskBoards</h2>
        <p class="lead">You'll find the list of all of your taskboards here</p>
    </div>

    <div class="mt-5">
        <hr>
        <h6>My Created Task Boards</h6>
        <div class="row " style="width: 100%">
            {% for taskboard in all_taskboards %}

            <div class="col-2 mt-4">
                <div class="taskboard-alt">{{ taskboard.name[0]}}</div>
                <p class="text-center mt-3 taskboard-text-alt">{{ taskboard.name }}</p>
            </div>

            {% endfor %}

        </div>

        <hr>
        <div class="mt-5"></div>
        <h6>My Invited Task Boards</h6>
        <div class="row " style="width: 100%">
            {% for taskboard in all_taskboards %}

            <div class="col-2 mt-4">
                <div class="taskboard-alt">{{ taskboard.name[0]}}</div>
                <p class="text-center mt-3 taskboard-text-alt">{{ taskboard.name }}</p>
            </div>

            {% endfor %}

        </div>

    </div>

</div>

</div>


<!-- Create TaskBoard Button Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="createTaskBoard"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-warning">Create a Taskboard</h3>

                <!-- FORM FOR ADDING NEW TASKBOARD -->
                <section class="form-section-style">

                    <div class="container p-1 pl-3 pr-3 bg-white">
                        <form action="/dashboard" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="taskboard_name">Taskboard Title</label>
                                    <input class="form-control" id="taskboard_name" name="taskboard_name" required
                                           type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label></label>
                                    <input class="form-control btn add-taskboard-button" name="button" type="submit"
                                           value="Submit">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>