<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskBoard - Task Manager</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>

</head>

<body class="edited_body">

<div class="wrapper">

    <!--    Left Side-->

    <div class="mx-auto" id="sidebar" style="padding-left: 8%; padding-top: 7%">
        <div class="rounded-circle">
            <a class="back-to-dashboard float-left" href="/dashboard"> <------ Back To Dashboard</a>
        </div>
        <div class="container">
            <div>
                <div class="row" style="width: 90%">

                    <div class="col">
                        <h1>{{ taskboard_ref.name }}</h1>
                        {% if taskboard_ref.creator_name == user_email %}
                        <p style="color: #f4f4f4;">Created by: {{ taskboard_ref.creator_name }} <b>(You)</b></p>
                        {% else %}
                        <p style="color: #f4f4f4;">Created by: {{ taskboard_ref.creator_name }}</p>
                        {% endif %}
                    </div>

                    <div class="col-3">
                        {% if taskboard_ref.creator_name == user_email %}
                        <button class="btn btn-dark float-right"
                                data-target="#editTaskBoard" data-toggle="modal"
                                style=""> Edit Board
                        </button>
                        {% endif %}
                    </div>
                </div>

            </div>



            <div style="margin-top: 70px;">
                <div class="row mb-3" style="width: 90%">
                    <div class="col">
                        <h6>Taskboard Members</h6>
                    </div>


                    <div class="col-3">
                        {% if taskboard_ref.creator_name == user_email %}
                        <button class="btn btn-dark float-right rounded-circle font-weight-bold"
                                data-target="#inviteUsers" data-toggle="modal"
                                style=""> +
                        </button>
                        {% endif %}
                    </div>


                </div>
            </div>

            <div class="row " style="width: 90%">

                <div class="col">
                    <ol>
                        {% for i in members %}
                        {% if MyUser.get_by_id(i).email == taskboard_ref.creator_name %}
                        <li> {{ MyUser.get_by_id(i).email }} <b>(Creator)</b></li>
                        {% elif MyUser.get_by_id(i).email == user_email %}
                        <li>
                            {{ MyUser.get_by_id(i).email }} <b>(You)</b>
                            {% if taskboard_ref.creator_name == user_email %}
                            <a data-target="#removeUser{{ loop.index - 1 }}" data-toggle="modal" href="">
                                <small class="float-right text-danger">Remove</small>
                            </a>
                            {% endif %}
                        </li>
                        {% else %}
                        <li>
                            {{ MyUser.get_by_id(i).email }}
                            {% if taskboard_ref.creator_name == user_email %}
                            <a data-target="#removeUser{{ loop.index - 1 }}" data-toggle="modal" href="">
                                <small class="float-right text-danger">Remove</small>
                            </a>
                            {% endif %}
                        </li>
                        {% endif %}
                        <hr>
                        {% endfor %}
                    </ol>
                </div>
            </div>

        </div>

        <div class="mt-5">
            <a class="btn login-button-dashboard" href="{{ url }}">{{ login_status }}</a>
        </div>

    </div>


</div>

<!--    Right Side-->
<div class="shadow p-5" id="content">
    <div class="row">
        <div class="col">
            <h2>Tasks</h2>
        </div>
        <div class="col">
            <button class="btn add-taskboard-button float-right font-weight-bold" data-target="#addTask"
                    data-toggle="modal"
                    style=""> Create New Task
            </button>
        </div>
        <hr>
    </div>

    <div class="mt-5">

        <form>

            <!--            IF TASK IS NOT COMPLETED-->
            {% for i in all_tasks %}
            {% if i.status == False %}
            <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" data-target="#taskCompleted{{ loop.index - 1 }}" data-toggle="modal"
                       id="task-{{ loop.index - 1 }}" type="checkbox" value="{{ i.status }}">
                <label class="custom-control-label" for="task-{{ loop.index - 1 }}">{{ i.title }}</label>

                <div class="row mt-1">
                    <div class="col">
                            <span class="task-info-title"><span class="text-danger">Due Date: </span>
                                <p
                                        class="task-info">{{ i.due_date }}
                                </p>
                            </span>
                    </div>
                    <div class="col">
                        {% set x = i.assignee_id|string() %}
                        <span class="task-info-title">Assigned to:
                                <p class="task-info">{{ MyUser.get_by_id(x).email }}
                                </p>
                            </span>
                    </div>
                    <div class="col-2">
                        <a data-target="#assignUser{{ loop.index - 1 }}" data-toggle="modal" href="">
                            <small>Edit Task</small>
                        </a>
                        <p>
                            <a data-target="#deleteUser{{ loop.index - 1 }}" data-toggle="modal" href="">
                                <small class="text-danger">Delete Task</small>
                            </a>
                        </p>
                    </div>
                    </div>


            </div>
                <hr>
            <!--            </div>-->

            {% else %}
            <!--            IF TASK IS COMPLETED-->
            <div class="custom-control custom-checkbox mb-3">
                <input checked class="custom-control-input" data-target="#taskUnCompleted{{ loop.index - 1 }}"
                       data-toggle="modal"
                       id="task-{{ i }}" type="checkbox" value="{{ i.status }}">
                <label class="custom-control-label" for="task-{{ i }}">{{ i.title }}</label>
                <div class="row mt-1">
                    <div class="col">
                        <span class="task-info-title"><span class="text-success">Completed On: </span><p
                                class="task-info">{{ i.completion_date }}</p></span>
                    </div>
                    <div class="col">
                        {% set x = i.assignee_id|string() %}
                        <span class="task-info-title">Assigned to: <p
                                class="task-info">{{ MyUser.get_by_id(x).email }}</p></span>
                    </div>
                    <div class="col-2">
                        <a data-target="#assignUser{{ loop.index - 1 }}" data-toggle="modal" href="">
                            <small>Edit Task</small>
                        </a>
                        <p>
                            <a data-target="#deleteUser{{ loop.index - 1 }}" data-toggle="modal" href="">
                                <small class="text-danger">Delete Task</small>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            {% endif %}
            {% endfor %}

            <div class="mt-2">
                <p class="lead text-danger" name="error_message">{{ error_message }}</p>
            </div>

            <button class="btn btn-primary d-none" type="submit">Submit</button>
        </form>


    </div>

</div>

</div>


<!-- Invite User Button Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="inviteUsers"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-warning">Invite Users</h3>

                <!-- FORM FOR ADDING NEW TASKBOARD -->
                <section class="form-section-style">
                    <div class="container p-1 pl-3 pr-3 bg-white">
                        {% for i in user_search %}
                        {% if i.email in memberlist %}
                        {% else %}
                        <div class="row">
                            <div class="col p-2">
                                <!--                                <a class="user_list" href="">{{ i.email }}</a>-->
                                <form action="/taskboard?id={{ idd }}" method="post">
                                    <input class="form-control" id="invitee_id" name="invitee_id" type="hidden"
                                           value="{{ i.key.id() }}">
                                    <input class="form-control" id="index" name="index" type="hidden"
                                           value="{{ loop.index - 1 }}">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead">{{ i.email }}</p>
                                        </div>

                                        <div class="col">
                                            <input class="btn add-taskboard-button float-right" name="button"
                                                   type="submit"
                                                   value="Invite User">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>


<!-- Add Task Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="addTask"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: #1B62FB;">Add New Task</h3>

                <!-- FORM FOR ADDING CAR TO THE DATABASE FOR THE ELECTRIC VEHICLES -->
                <section class="form-section-style">

                    <div class="container border p-4 bg-white">
                        <form action="/taskboard?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="title">Title</label>
                                    <input class="form-control" id="title" name="title" required
                                           type="text">
                                </div>

                            </div>

                            <!-- BOTTOM ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="due_date">Due Date</label>
                                    <input class="form-control" id="due_date" name="due_date" required
                                           type="date">
                                </div>
                                <div class="col form-group">
                                    <label for="assign_to">Assign To</label>
                                    <select class="form-control" id="assign_to" name="assign_to">
                                        <option selected value="None">Choose...</option>
                                        {% for i in members %}
                                        <option value="{{ MyUser.get_by_id(i).key.id() }}">{{ MyUser.get_by_id(i).email
                                            }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col form-group">
                                    <label>&nbsp;</label>
                                    <input class="form-control btn add-taskboard-button" name="button" type="submit"
                                           value="Create Task">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>


<!-- Edit Task Modal -->
{% for i in all_tasks %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg"
     id="assignUser{{ loop.index - 1 }}"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: #1B62FB;">Edit Task</h3>

                <!-- FORM FOR ADDING CAR TO THE DATABASE FOR THE ELECTRIC VEHICLES -->
                <section class="form-section-style">

                    <div class="container border p-4 bg-white">
                        <form action="/taskboard?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">


                                <div class="col form-group">
                                    <label for="edit_title">Title</label>
                                    <input class="form-control" id="edit_title" name="edit_title"
                                           required type="text" value="{{ i.title }}">
                                </div>

                            </div>

                            <!-- BOTTOM ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="edit_due_date">Due Date</label>
                                    <input class="form-control" id="edit_due_date" name="edit_due_date"
                                           required type="date" value="{{ i.due_date }}">
                                </div>
                                <div class="col form-group">
                                    <label for="edit_assign_to">Assign To
                                        <small class="text-danger">(Select new user or reassign user again)</small>
                                    </label>
                                    <select class="form-control" id="edit_assign_to" name="edit_assign_to">
                                        <option selected value="None">Choose...</option>
                                        {% for i in members %}
                                        <option value="{{ i }}">{{ MyUser.get_by_id(i).email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col form-group">
                                    <input name="index" type="hidden" value="{{ loop.index - 1 }}"/>
                                    <label>&nbsp;</label>
                                    <input class="form-control btn add-taskboard-button" name="button" type="submit"
                                           value="Edit Task">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Mark Task as Completed -->
{% for i in all_tasks %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg"
     id="taskCompleted{{ loop.index - 1 }}"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: #f39c12;">Mark Task As Completed</h3>
                <p class="lead mt-3">Click the button below to mark as completed</p>

                <form action="/taskboard?id={{ idd }}" method="post">
                    <div class="row d-none">
                        <div class="col form-group">
                            <input class="form-control" name="check_title" required type="text" value="{{ i.title }}">
                            <input class="form-control" name="check_assigned_to" required type="text"
                                   value="{{ i.assignee_id }}">
                            <input class="form-control" name="check_due_date" required type="text"
                                   value="{{ i.due_date }}">
                            <input class="form-control" name="check_index" required type="text"
                                   value="{{ loop.index - 1 }}">

                        </div>
                    </div>
                    <input class="form-control btn add-taskboard-button" name="button" type="submit"
                           value="Mark As Completed">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Mark Task as Uncompleted -->
{% for i in all_tasks %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg"
     id="taskUnCompleted{{ loop.index - 1 }}"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: #f39c12;">Mark Task As Uncompleted</h3>
                <p class="lead mt-3">Click the button below to mark as uncompleted</p>

                <form action="/taskboard?id={{ idd }}" method="post">
                    <div class="row d-none">
                        <div class="col form-group">
                            <input class="form-control" name="uncheck_title" required type="text" value="{{ i.title }}">
                            <input class="form-control" name="uncheck_assigned_to" required type="text"
                                   value="{{ i.assignee_id }}">
                            <input class="form-control" name="uncheck_due_date" required type="text"
                                   value="{{ i.due_date }}">
                            <input class="form-control" name="uncheck_index" required type="text"
                                   value="{{ loop.index - 1 }}">

                        </div>
                    </div>
                    <input class="form-control btn btn-danger" name="button" type="submit" value="Mark As Uncompleted">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Delete Task -->
{% for i in all_tasks %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg"
     id="deleteUser{{ loop.index - 1 }}"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: #1B62FB;">Delete Task</h3>

                <!-- FORM FOR ADDING CAR TO THE DATABASE FOR THE ELECTRIC VEHICLES -->
                <section class="form-section-style">

                    <div class="container border p-4 bg-white">
                        <form action="/taskboard?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">


                                <div class="col form-group">
                                    <label for="edit_title">Title</label>
                                    <input class="form-control" name="edit_title" readonly="readonly"
                                           required type="text" value="{{ i.title }}">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col form-group">
                                    <input name="index" type="hidden" value="{{ loop.index - 1 }}"/>
                                    <label>&nbsp;</label>
                                    <input class="form-control btn btn-danger" name="button" type="submit"
                                           value="Delete Task">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Edit TaskBoard Button Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="editTaskBoard"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-warning">Edit Taskboard</h3>

                <!-- FORM FOR ADDING NEW TASKBOARD -->
                <section class="form-section-style">

                    <div class="container p-1 pl-3 pr-3 bg-white">
                        <form action="/taskboard?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="taskboard_name">Taskboard Title</label>
                                    <input class="form-control" id="taskboard_name" name="taskboard_name" required
                                           type="text" value="{{ taskboard_ref.name }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label></label>
                                    <input class="form-control btn add-taskboard-button" name="button" type="submit"
                                           value="Edit Taskboard">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>

<!-- Remove User Button Modal -->
{% for i in members %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg"
     id="removeUser{{ loop.index - 1 }}"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-warning">Remove User</h3>

                <!-- FORM FOR REMOVING USER -->
                <section class="form-section-style">

                    <div class="container p-1 pl-3 pr-3 bg-white">
                        <form action="/taskboard?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="taskboard_name">Username</label>
                                    <input class="form-control" id="Username" name="username"
                                           readonly="readonly" type="text" value="{{ MyUser.get_by_id(i).email }}">
                                    <input class="form-control" name="user_id" type="hidden"
                                           value="{{ i }}">
                                    <input class="form-control" name="index" type="hidden"
                                           value="{{ loop.index - 1 }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label></label>
                                    <input class="form-control btn btn-danger" name="button" type="submit"
                                           value="Remove User">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>